---
import Badge from "@/components/Badge.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Layout from "@/layouts/Layout.astro"
---


<Layout title="Design System for Alex's Portfolio"
        description="Component catalogue"
>
    <SectionContainer>
        <h1>&lt;Badge/&gt;</h1>
        <Badge>Tailwind</Badge>
        <Badge>Tailwind</Badge>
    </SectionContainer>
    
</Layout>
