---
import Layout from '@/layouts/Layout.astro';
import Badge from '@/components/Badge.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import BriefcaseIcon from '@/components/icons/Briefcase.astro';
import SocialsPill from '@/components/icons/SocialsPill.astro';
import GitHubIcon from '@/components/icons/GitHub.astro';
import MailIcon from '@/components/icons/Mail.astro';
import Experience from '@/components/Experience.astro';
import SectionContainer from '@/components/SectionContainer.astro'
import ToolsIcon from '@/components/icons/Tools.astro';
import Projects from '@/components/Projects.astro';
import DownloadIcon from '@/components/icons/Download.astro';
import AboutMeIcon from '@/components/icons/UserID.astro';
import AboutMe from '@/components/AboutMe.astro';

---

<Layout title="Alex Buenrostro's Web Portfolio"
		description="Web portfolio creado con Astro y Tailwind CSS, contacta a Alex para trabajar contigo :)"
>
	<main class="px-10">
		<SectionContainer class="py-28 pb-24">
			<div class="flex items-center gap-4 pb-6">
				<img 
				class="rounded-full size-12 mb-6"
				src="https://avatars.githubusercontent.com/u/40413250?v=4" 
				alt="github profile pic" 
				/>
				<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex
					flex-row gap-x-4 pb-6">
					Hello, I'm Alex <a 
						href="https://www.linkedin.com/in/alex-buentostro/"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center">
						<Badge>Available for hire</Badge>
									</a>
				</h1>
			</div>
			<h2 class ="text-xl lg:text-2xl text-pretty max-w-[700px] pb-8">
				A <span class="text-yellow-200">Jr. Software Developer</span> based in Colima, Mexico.
				Currently focused on Frotend development, creating <span class="bg-gradient-to-r from-purple-400 via-pink-400 to-indigo-400 text-transparent bg-clip-text">powerful,
				modern and responsive</span> web applications. 
			</h2>

			<nav class="flex gap-2 flex-wrap pb-10">
				<SocialsPill href="https://www.linkedin.com/in/alex-buentostro/">
					<LinkedInIcon class="size-4 md:size-6"/>
						LinkedIn
				</SocialsPill>
				<SocialsPill href="https://github.com/AlexSh1mada">
					<GitHubIcon class="size-4 md:size-6"/>
						GitHub
				</SocialsPill>
				<SocialsPill href="mailto:alexbuerom@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
						Contact
				</SocialsPill>
				<SocialsPill href="/cv/Resume ALEJANDRO BUENROSTRO.pdf" download="CV_ALEJANDRO_BUENROSTRO.pdf">
					<DownloadIcon class="size-4 md:size-6"/>
						Download CV
				</SocialsPill>
			</nav>
		</SectionContainer>

<!--Begins Experience Section -->

		<SectionContainer id="experience" class= "pt-10">
			<h2 class="text-base font-semibold mb-8 flex gap-x-2 ml-2 items-center">
				Work experience
				<BriefcaseIcon class="size-6"/>
			</h2>
			<Experience />
		</SectionContainer>

<!-- Ends Experience Section 😢 -->

<!-- Begins Projects Section    -->

		<SectionContainer id="projects">
			<h2 class="text-base font-semibold mb-8 flex gap-x-2 ml-2 items-center">
				Projects
				<ToolsIcon class="size-6"/>
			</h2>
			<Projects />
		</SectionContainer>

<!-- Ends Projects Section     -->

<!-- Begins About Me Section   -->

		<SectionContainer id="about-me" class= "pt-10">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-2 ml-2 items-center">
				About me
				<AboutMeIcon class="size-10 ml-2"/>
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
