---
const currentYear = new Date().getFullYear();
---

<footer class="w-full mx-auto m-4 lg:max-w-6xl md:max-w-2xl flex justify-evenly">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© { currentYear } 🤓 <a href="https://www.linkedin.com/in/alex-buentostro/" class="hover:underline">Alejandro Buenrostro Romero</a>.    
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#about-me" class="hover:underline me-4 md:me-6">About me</a>
        </li>
        <li>
            <a href="mailto:alexbuerom@gmail.com" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>
